# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Local environment files
*.local
.env
.env.local

# Logs
*.log
npm-debug.log*